{% extends 'userdashboard/basic.html' %}
{% load static %}
{% block content %}
<script>
        sidebar_shift("sidebar-valuable")
</script>
    <h3>Accepted Transactions:</h3>
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Transaction id</th>
      <th scope="col">Orphanage</th>
      <th scope="col">Type</th>
      <th scope="col">Object</th>
      <th scope="col">Date</th>
 <th scope="col">delivery</th>
    </tr>
  </thead>
  <tbody>
    
    {% for accept in accepted %}
      <tr>
      <th scope="row">{{accept.tid}}</th>
      <td>{{accept.orphanage_name}}</td>
      <td>{{accept.donation_type}}</td>
      <td>{{accept.object_name}}</td>
      <td>{{accept.date_of_donation}}</td>
      {% if accept.status == 10 %}
      <td> <form action="{% url 'registration:solution' %}" method="post" >
          {% csrf_token %}
        <input type="hidden" name='name' value="{{ accept.pk }}" >
        <button class="btn btn-primary "  >Accept</button>

        </form>
       </button></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
            <!-- content ends here-->
{% endblock content %}
