{% extends 'userdashboard/basic.html' %}
{% load static %}
{% block content %}
     <h3>Accepted Transactions:</h3>
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Transaction id</th>
      <th scope="col">Orphanage</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for accept in donations %}
      <tr>
      <th scope="row">{{accept.tid}}</th>
      <td>{{accept.orphanage_name}}</td>
      <td>{{accept.amount}}</td>
      <td>{{accept.date_of_donation}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}