{% extends 'userdashboard/basic.html' %}
{% load static %}
{% block content %}

<script>
    sidebar_shift("sidebar-donate")
</script>

<blockquote>Progression through community</blockquote>
<div class='container'>
    <div class='row'>
        <div class = 'col'>

        </div>
        <div class="col">
            <div class="progress" style="height: 25px;">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="500"></div>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}