{% extends 'userdashboard/basic.html' %}
{% load static %}
{% block content %}
<script>
    sidebar_shift("sidebar-valuable")
</script>



            <h3>Rejected Transactions:</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Transaction id</th>
                        <th scope="col">Orphanage</th>
                        <th scope="col">Type</th>
                        <th scope="col">Object</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reject in rejected %}
                    <tr>
                        <th scope="row">{{reject.tid}}</th>
                        <td>{{reject.orphanage_name}}</td>
                        <td>{{reject.donation_type}}</td>
                        <td>{{reject.object_name}}</td>
                        <td>{{reject.date_of_donation}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
       
    

<!-- content ends here-->
{% endblock content %}