{% extends 'userdashboard/basic.html' %}
{% load static %}
{% block content %}
<script>
        sidebar_shift("sidebar-orphans")
</script>
            <!-- content starts here-->

            <div>
                {% if messages %}
                    {% for message in messages %}
                    <div class='alert alert-{{ message.tags }}'>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="content my-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover hoverable">
                                <div class="card-header ">
                                 <h4 class="card-title text-center"> Transaction History </h4>
                                </div>
                                   <div class="card-body table-full-width table-responsive">

                             <div class="row">
                              <div class = 'col'>
              <p>Your total donations: <button type="button" class="btn btn-success btn">{{ count }} $</button><br>
        </div>
        <div class="col" style="padding-top: 20px">
            {% if badge == '0' %}
              You haven't earned a badge</p>
            {% endif %}
            {% if badge == '25' %}
              <img src="{% static 'donation/images/bronze.jfif'%}" height="42" width="42">
                You have earned Bronze badge for your contributions</p>
            {% endif %}
            {% if badge == '50' %}
            <img src="{% static 'donation/images/sil.jfif'%}" height="42" width="42">
                You have earned Silver badge for your contributions</p>
            {% endif %}
            {% if badge == '100' %}
            <img src="{% static 'donation/images/gold.png'%}" height="42" width="42">
              You have earned Gold badge for your contributions</p>
            {% endif %}
            </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-striped" >

                                        <thead><tr>
                                            <th class='cnt'> Paypal Transaction id </th>

                                            <th class='cnt'> Orphanage </th>
                                            <th class='cnt'> Amount </th>
                                            <th class='cnt'> Date </th>
                                            <th class='cnt' > Status </th>
                                        </tr></thead>
                                        <tbody>
                                        {% for accept in donations %}
                                        <tr>
                                            <td class= 'cnt'>{{accept.paypal_transaction}}</td>
                                            <td class= 'cnt'>{{accept.orphanage_name}}</td>
                                            <td class= 'cnt'>{{accept.amount}}</td>
                                            <td  class='cnt' >{{accept.date_of_donation}}</td>
                                             {% if accept.status == 2 %}
                                                <td class='cnt'><button type="button" class="btn btn-success btn-sm">Completed</button></td>
                                              {% elif accept.status == 0 %}
                                              <td class='cnt'><button type="button" class="btn btn-warning btn-sm">Pending</button></td>
                                              {% else %}
                                              <td class='cnt'><button type="button" class="btn btn-danger btn-sm">Interrupted</button></td>
                                              {% endif %}
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>
            </div>

                        <!-- content ends here-->
{% endblock content %}