{% extends 'orphanageadmin/basic.html' %}
{% load static %}
{% block content %}
<script>
        sidebar_shift("sidebar-donations")
</script>
            <!-- Start Content -->
            <div class="content my-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card strpied-tabled-with-hover hoverable">
                                    <div class="card-header ">
                                        <h4 class="card-title text-center"> Received Donations </h4>
                                    </div>
                                    <div class="card-body table-full-width table-responsive">
                                        <table class="table table-hover table-striped">
                                            {% if  donation_request %}
                                            <thead><tr>
                                        <th class='cnt'> User </th>
                                        <th class='cnt'> Date </th>
                                        <th class='cnt'> Type </th>
                                        <th class='cnt'> Quantity </th>
                                    </tr></thead>
                                    <tbody>
                                    {% for content in donation_request %}
                                    <tr>
                                    <td class= 'cnt'>{{ content.user_id }}</td>
                                    <td class= 'cnt'>{{ content.date_of_donation.date }}</td>
                                    {% if content.donation_type == 'C' %} 
                                        <td class= 'cnt'> Cloths </td>
                                        <td class= 'cnt'>{{ content.quantity }} </td>
                                    {% endif %}
                                    {% if content.donation_type == 'F' %} 
                                        <td class= 'cnt'> Food </td>
                                        <td class= 'cnt'>{{ content.quantity }} &nbsp; Kg</td>
                                    {% endif %}
                                    {% if content.donation_type == 'B' %} 
                                        <td class= 'cnt'> Book </td>
                                        <td class= 'cnt'>{{ content.quantity }} &nbsp; </td>
                                    {% endif %}
                                    {% if content.donation_type == 'E' %} 
                                        <td class= 'cnt'> Eletrical Appliances </td>
                                        <td class= 'cnt'>{{ content.quantity }} &nbsp; </td>
                                    {% endif %}
                                    {% if content.donation_type == 'O' %} 
                                        <td class= 'cnt'> Other </td>
                                        <td class= 'cnt'>{{ content.quantity }} &nbsp; </td>
                                    {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            {% else %}
                            <h5> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No Received Donations </h5>
                            {% endif %}
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- End Content -->
{% endblock content %}