{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title></title>#}
{#</head>#}
{#<body>#}
{#<p> Password reset email has been sent to the entered email, if a user with such an email address exists </p>#}
{#</body>#}
{#</html>#}
{% load static %}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
<style>
    .form-gap {
    padding-top: 70px;
}</style>
   <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'homepage/vendors/linericon/style.css' %}">
	<link rel="stylesheet" href="{% static 'homepage/css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'homepage/vendors/owl-carousel/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'homepage/vendors/lightbox/simpleLightbox.css' %}">
	<link rel="stylesheet" href="{% static 'homepage/vendors/nice-select/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'homepage/vendors/animate-css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'homepage/vendors/jquery-ui/jquery-ui.css' %}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'homepage/css/responsive.css' %}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>
<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html">
						<img src="{% static 'homepage/img/logo.png' %}" >
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					 aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<div class="row ml-0 w-100">
							<div class="col-lg-12 pr-0">
								<ul class="nav navbar-nav center_nav pull-right">
									<li class="nav-item active">
										<a class="nav-link   change"   href="{% url 'h_index' %}">home</a>
									</li>
									<li class="nav-item ">
										<a class="nav-link   change"  href="#">Donate</a>
									</li>

									<li class="nav-item">
										<a class="nav-link   change" href="{% url 'contact_us' %}">Contact</a>
									</li>
									<li class="nav-item">
										<a class="main_btn" href="{% url 'registration:login' %}">Login</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
    <div class="form-gap"></div>
    <div class="form-gap"></div>
    <div class="form-gap"></div>
    <div class="container">
	<div class="row justify-content-center">
		<div class="col-md-5 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <br><br><b><p style="color: darkblue">Password reset email has been sent to the entered email, if a user with such an email address exists</b></p>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
</body>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>