{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title></title>#}
{#</head>#}
{#<body>#}
{#    <form method="POST">#}
{#        {% csrf_token %} {{ form.as_p }}#}
{#        <button type="submit">Submit</button>#}
{#    </form>#}
{#</body>#}
{#</html>#}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
<style>
    .form-gap {
    padding-top: 70px;
    #reset_the_password p label,
    #reset_the_password p input{
        float: left;
        clear: left;
    }
}</style>
</head>

<body>
<br>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Reset your Password</h2>
                  <p><br></p>
                  <div class="panel-body">

                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                      {% csrf_token %}
                      {% load widget_tweaks %}
                      <div class="form-group col-md-10 col-md-offset-1" id="reset_the_password">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
{#                          <input id="email" name="email" placeholder="Email address" class="form-control"  type="email">#}
                            {% csrf_token %}
                            <div class="col-md-offset-1">
                            {% for field in form %}
                                {{ field.errors }}
                                {{ field.label_tag }}: {{ field }}
                            {% endfor %}
                            </div>
                            {% for field in form %}
                                <small><b>{{ field.help_text }}</b></small>
                            {% endfor %}
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                      </div>

                      <input type="hidden" class="hide" name="token" id="token" value="">
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
</body>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>