            <!-- content starts here-->
            <div class="content my-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover hoverable">
                                <div class="card-header ">
                                    <h4 class="card-title text-center">Pending Requests</h4>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th class="t-heading">ID</th>
                                                <th class="t-heading">Orphanage Name</th>
                                                <th class="t-heading">status</th>
                                                <th class="t-heading">Date</th>
                                                <th class="t-heading">Type</th>
                                        </tr></thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>hope children</td>
                                                <td>Pending</td>
                                                <td>11-10-2019</td>
                                                <td>Books</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content ends here-->