    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login as user</title>
</head>
<body>
    <form action="" method="post">
        {% load widget_tweaks %}
        {% csrf_token %}
        {{ form.username|add_class:"validate" }}
        <label for="{{ form.username.id_for_label }}">Username</label><br>

        {{ form.password|add_class:"validate" }}
        <label for="{{ form.password.id_for_label }}">Password</label><br>

        <button class="btn waves-effect waves-light" type="submit" name="action"> Submit </button>
        <br>
</body>
</html>