{% load static %}
<!doctype html>
<html lang="en">

<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <h1 class='hii'>hii</h1>
        <form method="POST" action='{% url "superuser:givereview" %}'>
        {% csrf_token %}
        <link rel="stylesheet" type="text/css" href="{% static 'superuser/css/givereview.css' %}">

        <textarea rows="4" cols="50" name="description">
        </textarea>
        <br>
        <div class="star-rating">
                <input id="star-5" type="radio" name="ratingnew" value="5">
                <label for="star-5" title="5 stars">
                        <i class="active fa fa-star" aria-hidden="true"></i>
                </label>
                <input id="star-4" type="radio" name="ratingnew" value="4">
                <label for="star-4" title="4 stars">
                        <i class="active fa fa-star" aria-hidden="true"></i>
                </label>
                <input id="star-3" type="radio" name="ratingnew" value="3">
                <label for="star-3" title="3 stars">
                        <i class="active fa fa-star" aria-hidden="true"></i>
                </label>
                <input id="star-2" type="radio" name="ratingnew" value="2">
                <label for="star-2" title="2 stars">
                        <i class="active fa fa-star" aria-hidden="true"></i>
                </label>
                <input id="star-1" type="radio" name="ratingnew" value="1">
                <label for="star-1" title="1 star">
                        <i class="active fa fa-star" aria-hidden="true"></i>

                </label>
        </div>
        <br>
        <button type="submit">Submit</button>
        </form>
</body>
</html>