{% extends 'userdashboard/basic.html' %}
{% load static %}
{% block content %}
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #map {
        height: 80%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
   </style>
<script>
        sidebar_shift("sidebar-about")
</script>
<center><h3 style='color:#0000cc'>{{qs.orphanage_name}}</h3></center>
<div id="map"></div>
<script>
function initMap() {
  var uluru = {lat: {{qs.lat}}, lng: {{qs.lon}}};
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 8, center: uluru});
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU_kJ3UUPCV-HLOaTfDf9zfqBBAXQ0VHE&callback=initMap"></script>
<br>

<form action="{% url 'userdashboard:u_about_page'%}" method="post" class="text-center" autocomplete="off" onsubmit="myButton.disabled = true;">
{% csrf_token %}
<input type="hidden" name="id1" value="{{ qs.orphanage_name }}"/>
<button id="myButton" class="btn btn-primary"> << Back </button>
</form>
{% endblock content %}