{% extends 'userdashboard/basic.html' %}
{% load static %}
{% block content %}
<script>
        sidebar_shift("sidebar-joinorphan")
</script>
            <!-- content starts here-->
            <div class="content my-3">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="text-center text-heading title">Join Orphan request</h5>
                            </div>
                            {% if messages %}
                                {% for message in messages %}
                                <div class='alert alert-{{ message.tags }} col-lg-10 col-lg-offset-1'>
                                    {{ message }}
                                </div>
                                {% endfor %}
                            {% endif %}
                            <div class="card-body px-5">
                                <div class="container">
                                <form class="from-horizontal" method="post" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="md-form mt-3 ">
                                        <label for="orphanage">Orphanage</label>
                                        <br>
                                        <br>

                                        <select style="margin-left: 0%" class="btn btn-outline-info dropdown-toggle z-depth-0 border-bottom drop-btn" name="orphanage" id="orphanage">
                                            {% for orphanage in orphanages %}
                                                <option value="{{ orphanage }}">{{ orphanage }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- Name -->
                                    <div class="md-form mt-3 ">
                                        <input type="text" name = "name" id = "name" class="form-control"  maxlength='30' required>
                                        <label for="name"> Orphan Name </label>
                                    </div>
                                    <!-- date picker -->
                                    <br>

                                    <!-- inline radio buttons -->
                                    <div class="form-group">
                                        <span class="mr-3">Gender</span>
                                        <!-- Default inline 1-->
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="defaultInline1" name="gender" value="M" required>
                                            <label class="custom-control-label" for="defaultInline1">Male</label>
                                        </div>

                                        <!-- Default inline 2-->
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="defaultInline2" name="gender" value="F" required>
                                            <label class="custom-control-label" for="defaultInline2">Female</label>
                                        </div>
                                    </div>
                                    <div class="md-form mt-3 ">
                                        <input type="text" name = "find_place" id = "find_place" class="form-control"  maxlength='50' required>
                                        <label for="name"> Find place </label>
                                    </div>
                                    <br>
                                    <div class="md-form">
                                        <input type="date" id="DOB" class="form-control" name="DOB" required>
                                        <label for="DOB"> Date of Birth (Approximately)</label>
                                    </div>
                                    <div class="md-form">
                                        <button type="submit" class="btn btn-primary waves-effect waves-light form-button">Submit</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content ends here-->
{% endblock content %}