<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=790224518079845&autoLogAppEvents=1"></script>
    <form method="post" >
        {% csrf_token %}
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <input type="text" class="form-control" placeholder="User name" name="user_name">
                       
                        <label for="exampleFormControlSelect1">Type of money transfer</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="transfer">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                        <input type="text" class="form-control" placeholder="Amount" name="amount">
                    </div>


                </div>
                <label for="exampleFormControlSelect1">Orphanage</label>
                <select class="form-control" id="exampleFormControlSelect1" name="orphanage">
                    <option value="harshab">1</option>
                    <option value="harshab">2</option>
                    <option value="harshab">3</option>
                    <option value="harshab">4</option>
                    <option value="harshab">5</option>
                </select>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                <input type="submit" value="Submit" />
            </div>

                                </div>
</form>
    <div class="fb-share-button" data-href="http://127.0.0.1:8000" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
</body>
</html>